.react-datepicker-wrapper {
  display: block;
  width: 100%;
}

.customDatepicker {
  border-radius: 16px;
  padding: 4px;
  box-shadow: 0 4px 16px rgba(72, 153, 234, 0.16);
}

.customDatepicker .react-datepicker__header {
  background-color: white;
  border: none;
  border-radius: 16px;
  padding-top: 1rem;
}

.customDatepicker .react-datepicker__current-month {
  color: #4899EA;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.customDatepicker .react-datepicker__day-names {
  margin-top: 10px;
}

.customDatepicker .react-datepicker__day-name {
  color: black;
  font-weight: 500;
  font-size: 14px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.customDatepicker .react-datepicker__day {
  font-size: 16px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 2px;
  text-align: center;
}

.customDatepicker .react-datepicker__day--selected {
  background-color: #4899EA;
  color: white;
  border-radius: 50%;
}

.customDatepicker .react-datepicker__day:hover {
  background-color: rgba(72, 153, 234, 0.1);
  border-radius: 50%;
}

.customDatepicker .react-datepicker__navigation {
  top: 18px;
}

.customDatepicker .react-datepicker__navigation-icon::before {
  border-color: #000;
}
